<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @cliente.codigo %>
</p>

<p>
  <strong>Pagamento:</strong>
  <%= @cliente.pagamento %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @cliente.limite %>
</p>

<p>
  <strong>Desconto:</strong>
  <%= @cliente.desconto %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
