<h1>Listing items</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Fabrica</th>
      <th>Quantidade</th>
      <th>Descricao</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.codigo %></td>
        <td><%= item.fabrica %></td>
        <td><%= item.quantidade %></td>
        <td><%= item.descricao %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
